<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 個人網站v5發佈</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&amp;family=Dancing+Script:wght@500;600&amp;family=Noto+Serif+Display:wght@400;500;600;700&amp;display=swap'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar navbar-default navbar-fixed-top at_top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#header_index">Felicia </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#header_index">HOME</a></li>
        <li><a href="#section_about">ABOUT</a></li>
        <li><a href="#section_projects">PROJECTS</a></li>
        <li><a href="#section_more">MORE</a></li>
        <li><a href="#section_contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<header id="header_index">
  <div class="container">
    <div class="squ1">
      <div class="squ2" data-0="transform:translateY(0px)" data-500="transform:translateY(100px)"></div><a class="tagh" href="#section_about">MORE INFO</a>
      <h1 class="name">楊采容</h1>
      <h3 class="engname" data-0="transform:translateY(0px)" data-500="transform:translateY(100px)">Hi, I am Felicia</h3>
    </div>
  </div>
</header>
<section id="section_about">
  <div class="container">
    <div class="col-sm-12">
      <h1>ABOUT ME</h1>
    </div>
    <div class="resume">
      <div class="left">
        <div class="tri tri1"></div>
        <div class="about">
          <h4>profile</h4>
          <h2>個人簡介</h2>
          <p class="aboutme">我曾任電商代運營公司，具有與七個跨國品牌溝通的經驗。我喜歡分析數據從中發現商業價值，我的專長是將資料視覺化幫助使用者理解數據意義，目前主動學習動態網站程式設計，期待能在貴公司發揮所學的經驗與專長。</p>
        </div>
        <div class="contanct">
          <h4>Contact</h4>
          <h2>聯絡資訊     </h2>
          <hr/>
          <p><i class="fa-solid fa-phone"> </i><span>+886-988-XXX-XXX<br></span><i class="fa-solid fa-envelope"> </i><span>ru8u.65201314@yahoo.com.tw<br></span><i class="fa-solid fa-location-dot"></i><span>台中市XX區XX街XXX號</span></p>
        </div>
        <div class="buttons"><a class="btn fill" href="https://codepen.io/vghhmfuj-the-selector/pen/ZEaXmjg?editors=1100" target="_blank"> 個人網站</a><a class="btn" href="https://gururururu.github.io" target="_blank">個人Blog</a></div>
        <div class="block">
          <h4>Skills</h4>
          <h2>專業技能</h2>
          <hr/>
          <ul class="listskill">
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">前端網頁開發(html/css/js)
              <div class="circle"> 
                <div class="p90"></div>
              </div>
            </li>
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">資料視覺化(Tableau)
              <div class="circle"> 
                <div class="p90"></div>
                <div class="p180"></div>
                <div class="p270"></div>
              </div>
            </li>
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">商業資料分析(RapidMiner)
              <div class="circle"> 
                <div class="p90"></div>
                <div class="p180"></div>
              </div>
            </li>
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">市場統計分析(SPSS,STATISTICA)
              <div class="circle"> 
                <div class="p90"></div>
                <div class="p180"></div>
                <div class="p270"></div>
              </div>
            </li>
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">ERP規劃(SAP:MM)
              <div class="circle"> 
                <div class="p90"></div>
                <div class="p180"></div>
                <div class="p270"></div>
              </div>
            </li>
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">顧客關係管理(Salesforce)
              <div class="circle"> 
                <div class="p90"></div>
                <div class="p180"></div>
              </div>
            </li>
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">行銷企劃
              <div class="circle"> 
                <div class="p90"></div>
                <div class="p180"></div>
                <div class="p270"></div>
              </div>
            </li>
            <li data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform:scale(1);opacity:1">專案及簡報能力
              <div class="circle"> 
                <div class="p90"></div>
                <div class="p180"></div>
                <div class="p270"></div>
                <div class="p360"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="block">
          <h4>Programming Skill</h4>
          <h2>軟體程式</h2>
          <hr/>
          <ul class="listprogram">
            <li>Excel
              <div class="bar"> 
                <div class="value p95"></div>
              </div>
            </li>
            <li>Python
              <div class="bar"> 
                <div class="value"></div>
              </div>
            </li>
            <li>Html/Css/Js
              <div class="bar">
                <div class="value p60"></div>
              </div>
            </li>
            <li>Pug/Sass
              <div class="bar">
                <div class="value p60"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="tri tri2"></div>
        <h1 class="cvname" data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1">楊采容 </h1>
        <div class="cvengname" data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1"><i>Felicia</i></div>
        <hr class="namehr"/>
        <div class="title"><i>電商使用者體驗優化專員</i></div>
        <div class="education">
          <h4>Education</h4>
          <h2>教育背景</h2>
          <hr/>
          <ul>
            <li class="year">2020
              <ul>
                <li>國立中央大學<span>-企業管理碩士</span></li>
              </ul>
            </li>
            <li class="year">2017
              <ul>
                <li>比利時Thomas More<span>-商業學院交換學生</span></li>
              </ul>
            </li>
            <li class="year">2017
              <ul>
                <li>銘傳大學<span>-國際企業學士</span></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="work">
          <h4>Experience / Works</h4>
          <h2>工作經歷</h2>
          <hr/>
          <ul class="listexperience">
            <li class="position">
              <h3>雨林新零售電商 </h3><span>-儲備幹部</span>
              <h5><I>2020.10-2021.09</I></h5>
              <ul>
                <li>自動化產品進銷存統計分析</li>
                <li>協助新市場品牌開發和現有品牌診斷 </li>
                <li>資料視覺化建置全品牌儀表板</li>
              </ul>
            </li>
            <li class="position">
              <h3>永齡教育基金會</h3><span>-課輔老師</span>
              <h5><I>2019.07-2020.01</I></h5>
              <ul>
                <li>輔導中壢國小弱勢兒童英文、數學</li>
                <li>班級經營獲得希望小學多元活動全台第一名</li>
              </ul>
            </li>
          </ul>
          <div class="block">
            <h4>Leadership / Other</h4>
            <h2>個人經歷</h2>
            <hr/>
            <ul class="Leaderexperience">
              <li>2016
                <ul>
                  <li> 銘傳擊劍社 社員</li>
                  <li> 銘傳華語訓練中心 華語志工</li>
                </ul>
              </li>
              <li>2015
                <ul>
                  <li> 銘傳國企系晚會 活動召集人</li>
                  <li> 柬埔寨暹粒彩虹村 國際志工</li>
                </ul>
              </li>
              <li>2014
                <ul>
                  <li> 銘傳國際學伴 公關長</li>
                </ul>
              </li>
              <li class="year">2013
                <ul>
                  <li> 銘傳親善服務隊 校隊員</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section_projects">
  <div class="container">
    <h1>Project</h1>
    <div class="project">
      <div id="tab-demo">
        <ul class="tab-title">
          <li><a href="#tab01">品牌診斷報告</a></li>
          <li><a href="#tab02">Dashboard</a></li>
          <li><a href="#tab03">生產專案分析</a></li>
        </ul>
        <div class="tab-inner" id="tab01"><img class="pic pic1" src="https://scontent.frmq2-2.fna.fbcdn.net/v/t39.30808-6/274051471_6898064700268441_6452278929954978261_n.jpg?_nc_cat=107&amp;ccb=1-5&amp;_nc_sid=730e14&amp;_nc_ohc=0QHdL1ttPxwAX8eCQYo&amp;tn=lNEBr26_C_3ccChz&amp;_nc_ht=scontent.frmq2-2.fna&amp;oh=00_AT8S3N_hZouKUCopvTN8P4ddkQW3vw9J5vMiPd0i0eZt9A&amp;oe=621CF801" alt=""/>
          <h2>品牌診斷報告</h2>
          <p>毛利、週轉、坪效系統化指標評級各品牌商品，打造高效能營運模式<br>Google Data Studio</p>
        </div>
        <div class="tab-inner" id="tab02"><img class="pic pic2" src="https://scontent.frmq2-2.fna.fbcdn.net/v/t39.30808-6/273883200_6898064826935095_4288923048605540911_n.jpg?_nc_cat=104&amp;ccb=1-5&amp;_nc_sid=730e14&amp;_nc_ohc=RyFqA_1tRC4AX-fTHg6&amp;tn=lNEBr26_C_3ccChz&amp;_nc_ht=scontent.frmq2-2.fna&amp;oh=00_AT_MNS_zrd2cPvj4cdvbk8flo4_UaQqMzPcj-U7eAatMgg&amp;oe=621B62A3" alt=""/>
          <h2>Dashboard-品牌拓展部</h2>
          <p>統整數據資料視覺化呈現每日採購、庫存變化<br>Tableau</p>
        </div>
        <div class="tab-inner" id="tab03"><img class="pic" src="https://scontent.frmq2-1.fna.fbcdn.net/v/t39.30808-6/273774219_6898064616935116_1606736749258789513_n.jpg?_nc_cat=110&amp;ccb=1-5&amp;_nc_sid=730e14&amp;_nc_ohc=_uoCO2VM7-kAX9JcTAI&amp;_nc_oc=AQk_q03N7V004G01ZrcjTRNuRSyMmTPgWrDR0Whk9Nw4aX2Xh00eOxBvYdiviPkiDf8&amp;_nc_ht=scontent.frmq2-1.fna&amp;oh=00_AT9vPijqjVG0BghZ-KC5aKsu3jDxsqDf8X4VIA9bQTCLxQ&amp;oe=621B8A7F" alt=""/>
          <h2>製造業專案分析</h2>
          <p>決策樹預測不良品發生機率，給予生產製程建議<br>RapidMiner </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section_more">
  <div class="container">
    <h1>Design portfolio</h1>
    <div id="app">
      <div class="protfolio">
        <div class="card card1" @click="namecardopen=!namecardopen">
          <h3>VIEW DETAILS</h3>
        </div>
        <div class="card card2" @click="dayboxopen=!dayboxopen"></div>
      </div>
      <div class="control" v-if="namecardopen">
        <div class="pane"><img class="incard1" src="https://scontent.frmq2-2.fna.fbcdn.net/v/t39.30808-6/273985017_6903833789691532_240107075036259330_n.jpg?_nc_cat=100&amp;ccb=1-5&amp;_nc_sid=730e14&amp;_nc_ohc=jXVBU5GL7wIAX-1cJsx&amp;_nc_ht=scontent.frmq2-2.fna&amp;oh=00_AT9N7KUo3mucS3gsnxAPHtMyP3WRRQjaHkqNxuUMTEEMpQ&amp;oe=621C043D" alt=""/>
          <h2>個人名片</h2>
          <div class="close" @click="namecardopen=!namecardopen">close</div>
        </div>
      </div>
      <div class="control" v-if="dayboxopen">
        <div class="daybox">
          <label>
            <input id="switch_night" type="checkbox"/>
            <div class="top">
              <div class="moon"></div>
              <div class="cloud">
                <div class="rain"> </div>
                <div class="rain rain2"></div>
                <div class="rain rain3"></div>
              </div>
              <svg class="temsvg">
                <circle cx="0" cy="60" r="3"></circle>
                <text x="0" y="60">23°C</text>
                <circle cx="70" cy="100" r="3"></circle>
                <text x="70" y="100">20°C</text>
                <circle cx="140" cy="80" r="3"></circle>
                <text x="140" y="80">21°C</text>
                <circle cx="210" cy="70" r="3"></circle>
                <text x="210" y="70">22°C</text>
                <circle cx="280" cy="90" r="3"></circle>
                <text x="280" y="90">21°C</text>
                <circle cx="350" cy="100" r="3"></circle>
                <text x="350" y="100">20°C</text>
                <circle cx="420" cy="60" r="3"></circle>
                <text x="420" y="60">23°C</text>
                <circle cx="490" cy="490" r="3"></circle>
                <text x="490" y="490">20°C</text>
                <polyline points="0,60 70,100 140,80 210,70 280,90 350,100 420,60 490,490 "></polyline>
              </svg>
              <div class="text_area">
                <div class="temperature">20°C</div>
                <div class="info">
                  <div class="addres">台中市 西屯區</div>
                  <div class="time">星期三 下午8:33</div>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="dayweather">
                <h3> MON</h3>
                <svg viewbox="-50 -50 100 100">
                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                </svg>
              </div>
              <div class="dayweather">
                <h3> TUE</h3>
                <svg viewbox="-50 -50 100 100">
                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                </svg>
              </div>
              <div class="dayweather">
                <h3> WEN</h3>
                <svg viewbox="-50 -50 100 100">
                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                  <circle class="cloud" cx="0" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-30" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                </svg>
              </div>
              <div class="dayweather">
                <h3> THU</h3>
                <svg viewbox="-50 -50 100 100">
                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                  <circle class="cloud" cx="0" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-30" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                </svg>
              </div>
              <div class="dayweather">
                <h3> FRI</h3>
                <svg viewbox="-50 -50 100 100">
                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                  <circle class="cloud" cx="0" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-30" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                </svg>
              </div>
              <div class="dayweather">
                <h3> SAT</h3>
                <svg viewbox="-65 -30 100 100">
                  <circle class="cloud" cx="0" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-30" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                </svg>
              </div>
              <div class="dayweather">
                <h3> SUN</h3>
                <svg viewbox="-65 -30 100 100">
                  <line class="rain" x1="-30" y1="35" x2="-30" y2="55"></line>
                  <line class="rain" x1="-16" y1="25" x2="-16" y2="45"></line>
                  <line class="rain" x1="2" y1="30" x2="2" y2="50"></line>
                  <line class="rain" x1="-10" y1="50" x2="-10" y2="65"></line>
                  <circle class="cloud" cx="0" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-30" cy="30" r="18"></circle>
                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                </svg>
              </div>
            </div>
          </label>
          <h2>天氣盒子</h2>
          <h3>請將滑鼠移入天氣APP上</h3>
        </div>
        <div class="close" @click="dayboxopen=!dayboxopen">close</div>
      </div>
    </div>
  </div>
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script><script  src="./script.js"></script>

</body>
</html>
